/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.chi-str {
    font-family: Microsoft JhengHei;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.page.container {
    width: 85% !important;
}

.menu-btn {
    display: none;
    z-index: 1000;
}

.menu-btn.fixed-action-btn{
    top:15px;
}

main{
    margin-left: 300px;
}

.col.m3.s12.section-header.padding-left{
    padding-left: 3%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }

    .menu-btn {
        display: block;
    }

    #mySidenav{
        display:block;
        transition: 0.5s;
    }
    main {
        transition: 0.5s;
        margin-left: 0px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    main {
        width: 100%;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}


/* Page Layout */

#logo-side-bar {
    height: 355px;
}

#logo-side-bar .logo {
    width: 225px;
    margin-top: 50px;
    border-radius: 120px;
}

strong.page-title {
    font-size: 48px;
    color: rgba(255, 255, 255, 0.99);
    line-height: 116px;
}

nav.page-top {
    height: 100%;
    margin: 0 auto;
}

.nav-wrapper {
    height: 100%;
}


/* Footer */
.no-border.collection {
    border: 0;
}

.collection-item.opacity {
    background-color: inherit;
    border-bottom: 0;
}

footer.page-footer {
    margin: 0;
}

/* Divider */

.hidden-divider {
    padding: 1rem;
}

.small-hidden-divider {
    padding: 0.5rem;
}

.tiny-hidden-divider {
    padding: 0.25rem;
}

.large-hidden-divider {
    padding: 2rem;
}


/* Typography Layout */

.header {
    font-weight: 300;
}

p.limited-line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-height: 2rem;
    /* fallback */
    max-height: 6rem;
    /* fallback */
}

p.limited-line-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-height: 2rem;
    /* fallback */
    max-height: 8rem;
    /* fallback */
}

.text-italic {
    font-style: italic;
}

a.tech-url {
    color: inherit;
    border-bottom: 1px solid black;
}

/* Element Layout */

.small-top-margin {
    margin-top: 0.25rem !important;
}

.faculty-img,
.collection-img {
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

td.top-align {
    vertical-align: top;
}

.right-align {
    text-shadow: right;
}

/* picture paint */
#bar_item {
    height: 30px;
    margin-left: auto;
    margin-right: auto;

}

.bar_inline {
    display: inline-block;
    margin-top: 0px;
}

.bg_white {
    background-color: #e6e6e6;
}

.bg_blue {
    background-color: #97bbcd;
}

.bg_purple {
    background-color: #cc33ff;
}

#bar_item div {
    width: 10px;
    height: 10px;
}


/* For AWARE Demo */

img.aware-architecture {
    width: 85%;
    margin: 25px;

}

/* For HW Reviewing Tool Demo */

iframe.google-sheet {
    width: 96%;
    height: 550px;
    margin: 0% 2%;
}

.tabs .tab a {
    color: black;
}

.tabs .tab a.active,
.tabs .tab a:hover {
    color: #26a69a;
}

.tabs .indicator {
    background-color: #26a69a;
}

/* For SIMPLE */

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    margin-left: 3%;
    width:94%;
    height:94%;
}