
.more-btn {
    color: darkred;
    float: right;
}

.btn-circle-more {
    width: 30px;
    height: 30px;
}

.btn-circle-more i {
    line-height: 30px;
}

.resume-name.dark {
    color: rgba(0, 0, 0, 0.6) !important;
}

.resume-name.light {
    color: rgba(255, 255, 255, 0.8) !important;
}

table.contact-info {
    margin: 0rem 1rem;
}

table.contact-info > tbody > tr td:first-child {
    width: 15%;
}

.section-profile {
    margin: 0rem 1rem;
}

.section-header {
    //text-align: center;
}

/* List layout */

ul.list {
    padding-left: 1.5rem;
}

ul.list > li.header {
    font-size: 1.2rem;
    //margin-top: 1.5rem;
}

ul.disc-list li {
    list-style-type: disc !important;
}

.full-col-list {
    width: 100%;
}

.full-col-list li {
	padding-left: 0.25rem;
}
